* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Sarabun", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #2B255C, #72B6E3);
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #2B255C;
}

.skin-selection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skin {
    text-align: center;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 200px;
    margin-bottom: 20px;
}

.skin:hover {
    transform: scale(1.05);
}

.skin img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

button.choose-skin {
    background-color: #2B255C;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button.choose-skin:hover {
    background-color: #72B6E3;
}

@media (max-width: 1080px) {
    .container {
        padding: 20px;
        max-width: 90%;
    }

    h1 {
        font-size: 1.5rem;
    }

    .skin-selection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        place-items: center;
    }

    .skin {
        width: 100%;
        max-width: 180px;
        padding: 15px;
        margin-bottom: 0;
    }

    button.choose-skin {
        font-size: 0.95rem;
        padding: 9px 18px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
        max-width: 75%;
    }

    .skin-selection {
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
        max-width: 85%;
    }

    .skin-selection {
        gap: 15px;
    }

    .skin {
        width: 90%;
        padding: 10px;
    }

    button.choose-skin {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}